body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E2B0B0;
    color: white;
    padding: 5px;
    text-align: left;
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
    font-size: 18px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}
